# secrets
.env
.env.*
!.env.example
.env.properties

# Spring Boot Secrets 
application-secret.properties
src/main/resources/application-secret.properties

# IDE
.idea/
.vscode/
**/*.iml

# build outputs
**/build/
**/.gradle/
**/.dart_tool/